$fondC: white;
$fondS: black;
$noirC: #111111;
$blancS:rgb(214, 212, 212);

$C1: #F6F6F6;
$C2: #FF6060;
$C3: #ffffff;
$C4: #E3E3E3;
$C5: #ED6454;
$C6: #C7BEBE;

//Dimension Ecran
$phone: 375px;
$tablette:768px;
$desktop: 1440px;